{% extends 'MFCRatingsBundle::layout.html.twig' %}

{% block header %}
	<h2>Welcome to the Maplet Rating Area.</h2>
{% endblock %}

{% block title %}Home{% endblock %}

{% block main %}
	<p>Please select a maplet to rate.</p>
	<table class="table">
		{% for group in maplets|batch(3, "") %}
		    <tr>
		    	{% for maplet in group %}
		    	    <td><a href="{{ path('page_maplet_1', { 'slug': maplet.slug }) }}">{{ maplet.name }}</a></td>
		    	{% endfor %}
		    </tr>
		{% endfor %}
	</table>
{% endblock %}