{% extends 'MFCRatingsBundle::layout.html.twig' %}

{% block header %}
	<h2>Welcome to the Maplet Rating Page.</h2>
{% endblock %}

{% block title %}Home{% endblock %}

{% block main %}
	{% for flashMessage in app.session.flashBag.get('notice-success') %}
	    <div class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    	{{ flashMessage }}
	    </div>
	{% endfor %}
	<p>Please select a maplet to rate.</p>
	<table class="table">
		{% for group in maplets|batch(3, "") %}
		    <tr>
		    	{% for maplet in group %}
		    	    <td><a href="{{ path('page_maplet_1', { 'slug': maplet.slug }) }}">{{ maplet.name }}</a></td>
		    	{% endfor %}
		    </tr>
		{% endfor %}
	</table>
{% endblock %}